<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Nauja sodyba</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Pavadinimas</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Pavadinimas tinkamas
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Vietovė</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Vietovė tinkama
                    </div>
                </div>

                <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Kaina parai</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">€</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                    </div>
                    <div class="valid-feedback">
                        Kaina tinkama
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Aprašymas</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Aprašymas tinkamas
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Pasirinkite nuotraukas...</span>
                            <span class="form-file-button">Įkelti</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Išsaugoti sodybą</button>
                </div>
            </form>
            <a href="/campgrounds">Visos sodybos</a>
        </div>
    </div>